.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 32px;
  margin: auto;
  max-width: 1200px;
  min-height: 100vh;
  padding: 32px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
