@import '../../styles/vars';

.position {
  font-size: 1.25em;
  margin-bottom: 16px;
}

.companyAndPeriod {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  @media screen and (max-width: 600px) {
    flex-direction: column;
    gap: 0.5em;
  }
}

.bulletList {
  padding-left: 20px
}